* {
    box-sizing: border-box;
}

header {
    max-width: 1289px;
    height: 120px;
    font-family: brandon-grotesque;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 0em;
    line-height: 1.7em;
    text-transform: none;
    color: rgba(29, 29, 29, .7);
    padding: 33px 50px;
    box-sizing: border-box;
    margin: 30px auto;
}

header figure {
    margin-top: 0px;

}

header nav {
    float: right;
    width: 70%;
    box-sizing: border-box;

}

nav a {
    float: right;
    margin: 5px;
    font-family: brandon-grotesque;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    letter-spacing: .14em;
    text-transform: uppercase;
    color: #1d1d1d;
    text-decoration: none;
}

a:hover {
    color: rgb(180, 177, 177);
}

header figure {
    float: left;
    width: 15%;
}

main {

    height: 800px;
    max-width: 1289px;
    margin: 30px auto;

}

#girl img {
    width: 462px;
    height: 624px;
}

#girl {
    float: left;
    width: 35%;
    margin-left: 0px;
}


article p {
    display: block;
    text-align: center;
    font-family: futura-pt;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 0em;
    line-height: 1.7em;
    text-transform: none;
    color: rgba(29, 29, 29, .7);
}

aside {
    float: right;
    margin: auto;
    max-width: 53%;
    box-sizing: border-box;

}

aside h1 {
    text-align: center;
    white-space: pre-wrap;
    color: #1d1d1d;
    font-family: brandon-grotesque;
    font-weight: 900;
    font-style: normal;
    font-size: 51px;
    letter-spacing: .29em;
    line-height: 1em;
    text-transform: uppercase;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;

}

#dontcry {
    margin-top: 220px;
    margin-right: 40px;
    justify-content: center;
    font-family: futura-pt;
    color: rgba(28, 28, 28, .69);
}

footer {
    max-width: 1289px;
    margin: 30px auto;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#my_social_media {

    margin: 30px;
    margin-bottom: 50px;
    padding: 0;
    width: 100%;
    height: 30px;
}

#my_social_media a {
    margin: 5px;
    color: #1d1d1d;
    text-decoration: none;
    font-size: larger;
}


#links section {
    display: flex;
    justify-content: center;
    font-family: futura-pt;
    color: rgba(28, 28, 28, .69);
}

.footer_a {
    font-size: 20px;
    margin: 5px;
    color: #1d1d1d;
    text-decoration: none;
    padding-bottom: .05em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(29, 29, 29, .3);
    text-align: center;
    white-space: pre-wrap;
    font-family: brandon-grotesque;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .29em;
    line-height: 1.7em;
    text-transform: uppercase;
    float: left;
    font-family: futura-pt;
    color: rgba(28, 28, 28, .69);
}

footer h3 {
    color: #1d1d1d;
    font-family: brandon-grotesque;
    text-align: center;
    white-space: pre-wrap;
    margin-top: 15px;
    margin-bottom: 0;
    font-family: brandon-grotesque;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .29em;
    line-height: 1.7em;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    display: block;
}

.clr {
    clear: both;
}